<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Zypher Assignment</title>
    <link rel="icon" href="../img/brand/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="../vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="../vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/argon.css?v=1.2.0" type="text/css">
</head>

<body class="bg-lighter">
    <div class="main-content" id="panel" >
        <nav class="navbar navbar-top navbar-expand navbar-light bg-lighter border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-bell-55"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">Temporary</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header bg-white rounded mx-5 my-4">
            <div class="container-fluid rounded">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-4 col-2">
                            <div class="client-heading" style="color: #9d98b0;font-size: 40px;font-weight: 600;letter-spacing: -2px;">
                                Clients
                            </div>
                        </div>
                        <div class="col-lg-4 col-5">
                             <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                                <div class="form-group mb-0"  >
                                    <div class="input-group input-group-alternative input-group-merge" style="border-radius: 5px;border:1px solid rgb(223, 223, 223);">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                        <input class="form-control border-0" placeholder="Search by customer name/email" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-5 text-right">
                            <a href="#" class="btn btn-primary" style="background-color:#070a70;font-size: 10px;">Search</a>
                            <a href="#" class="btn btn-primary" style="background-color:#070a70;font-size: 10px;">Add new customer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row mx-1">
                <div class="col">
                    <div class="card">
                        <div class="table-responsive rounded">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">CLIENT ID</th>
                                        <th scope="col" class="sort" data-sort="budget">CLOSING AGENT</th>
                                        <th scope="col" class="sort" data-sort="status">COMPANY</th>
                                        <th scope="col">ORDER</th>
                                        <th scope="col" class="sort" data-sort="completion">INVOICE PAID</th>
                                        <th scope="col">INVOICE PENDING</th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    {{#each client}}
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <a href="#" class="mr-3">
                                                    {{this.id}}
                                                </a>
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm ml-6"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            {{this.name}}
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                <span class="status">{{this.company}}</span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                            {{this.orderId}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="completion mr-2">${{this.invoicepaid}}</span>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <span class="text-left float-left">${{this.invoicePending}}</span>
                                            
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.2.0"></script>
</body>

</html>